/* styles.css */
<style>
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background: linear-gradient(to right,purple, rgb(255, 15, 255));
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

div {
    color:white;
    text-align: center
}
h1 {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}


p {
    font-size: 25px;
}


ul {
    list-style-type: square;
}
