/* styles.css */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-image: url("background.jpg")
    }

h1 {
    background: linear-gradient(to right,skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(0, 100%, 50%) ;
    text-align: left;
}

h2 {
    background: linear-gradient(to right,green, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    text-align: left;
}

h3 {
    color:aliceblue;
    text-align: left;
    background: linear-gradient(to right,skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

p {
    background: linear-gradient(to right,red, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    color: #ffffff;
}


ul {
    list-style-type: square;
}
